.gameBox{
  text-align: center;
}

.button, .choice {
  font-size: 3rem;  
}

.resultBox {
/*   background: blue; */
  display: flex;
  justify-content: space-around;
  margin: auto;
  align-items: center;
  flex-direction: row;
}

.display {
  font-size: 2rem;
  margin: 0.5rem;
}

.green {
  color: green;
}
.red {
  color: red;
}
.gray {
  color: gray;
}
.gray {
  color: blueviolet;
}
